
{% block title %}Liste des Activitées{% endblock %}

{% block main %}
<h1>Créer une nouvelle demande</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">envoyer</button>
    </form>
{% endblock %}
from django.contrib.auth.models import User
from your_app_name.models import Skill
user = User.objects.get(username='ClaireJardin')
skills = Skill.objects.filter(user=user)
print(skills)  # Check if any skills are returned
